@model RenderRazorPageToHtml.Models.Customer

<!DOCTYPE html>
<html>
<head>
    <title>Customer Details</title>
</head>
<body>
    <h1>@Model.Name</h1>
    <p>Address: @Model.Address</p>
    <p>Email: @Model.Email</p>
</body>
</html>
